@import "./components/header.css";
@import "./components/main.css";
@import "./components/footer.css";
/*////////////////////////////////////////////////*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*////////////////////////////////////////////////*/

@font-face {
  font-family: "tilt_warp";
  src: url("./assets/Tilt_Warp/TiltWarp-Regular-VariableFont_XROT\,YROT.ttf");
}
@font-face {
  font-family: "climate";
  src: url("./assets/Climate_Crisis/ClimateCrisis-Regular-VariableFont_YEAR.ttf");
}
@font-face {
  font-family: "josefine";
  src: url("./assets/Josefin_Slab/JosefinSlab-VariableFont_wght.ttf");
}

/*////////////////////////////////////////////////*/

:root {
  --beigebg: #efecdc;
  --bigblue: #1d6b9f;
  --flowerred: #f2004a;
  --yeahllow: #fcd23f;
}

/*////////////////////////////////////////////////*/

body {
  background: url("./assets/bg.png") center -50% no-repeat fixed;
  background-color: var(--beigebg);
  font-family: "Courier New", Courier, monospace;
  color: var(--bigblue);
  background-size: 700px;
}
a {
  text-decoration: none;
}
.container {
  margin: 0px auto;
  max-width: 700px;
}

