/*------------FOOTER---*/
.secret {
    position: absolute;
    right: 0;
    bottom: 0;
    text-decoration: none;
    display: block;
    padding: 8px 15px;
    background-color: transparent;
    border-radius: 12px;
    margin: 5px;
    font-weight: bold;
    border: 2px solid transparent;
    text-transform: uppercase;
    transition: all 0.3s;
    color: transparent;
  }
  .secret:hover{
    background-color: var(--yeahllow);
    border: 2px solid var(--bigblue);
    color: var(--bigblue);
  }
  .hide {
    display: none;
  }
  /*---------EOF FOOTER -----*/
  