/*--------------MAIN*/
main {
    padding-top: 22px;
  }
  .paragraph {
    background-color: #e1e2da;
    padding: 60px 40px;
    width: 100%;
    border: 2px solid #5f87ac;
  }
  h3 {
    font-family: japan;
    mix-blend-mode: multiply;
    letter-spacing: 2px;
    font-size: 3rem;
  }
  h4 {
    font-family: josefine;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .fineline {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #5f87ac;
    mix-blend-mode: multiply;
  }
  .space {
    width: 100%;
    display: block;
    height: 30px;
  }
  
  main p {
    font-family: josefine;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 30px;
  }
  #skills ul {
    display: flex;
    flex-wrap: wrap;
  }
  #skills ul li {
    text-decoration: none;
    display: block;
    padding: 8px 15px;
    background-color: #c94f44;
    border-radius: 1px;
    margin: 5px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.8s;
    color: #e1e2da;
  }
  #skills ul li:hover {
    background-color: #5f87ac ;
  
  }
  .smallspace {
    width: 100%;
    display: block;
    height: 60px;
  }
  h4 {
    margin-bottom: 10px;
  }
  #contact a svg {
    width: 50px;
    height: 50px;
    margin: 15px 15px 0 0;
    fill: #c94f44;
    transition: all 0.8s;
  }
  #contact a svg:hover {
    fill: #5f87ac;
  }
  /*-----------EOF---MAIN*/