/*--------------HEADER*/
header {
    padding: 36px 20px 20px 20px;
    color: #c94f44;
  }
  .hi {
    font-size: 2rem;
    font-family: josefine;
    letter-spacing: 20px;
    text-align: left;
    word-spacing: 60px;
    mix-blend-mode: multiply;
  }
  .lev {
    font-size: 9rem;
    margin-bottom: 15px;
    font-family: japan;
    letter-spacing: -41px;
    text-align: center;
    mix-blend-mode: multiply;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
  .port {
    font-family: josefine;
    font-size: 2rem;
    letter-spacing: 7px;
    text-align: left;
    word-spacing: 53px;
    mix-blend-mode: multiply;
  }
  .logo {
    opacity: 0;
    font-family: japan;
    text-align: left;
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    color: transparent;
    animation: fade-in ease-in-out forwards;
    animation-timeline: view();
    animation-range: 1100px 1300px;
  }
  @keyframes fade-in {
    to {
      opacity: 1;
      color: #c94f44;
    }
  }
  .logoflower {
    display: none;
  }

  /*-----------EOF---HEADER*/